@use "../base/" as *;


.filter {
   display: none;
   position: fixed;
   z-index: 100;
   width: 50px;
   padding: 20px;
   background-color: $tcl-button;
   border-radius: 10px;
   box-shadow: 2px 2px 2px 2px $bs-menu;
   @include flexStyle (none, none, column);
   gap: 10px;
   &-sort {
      width: 150px;
   }

   &-users {
      width: 150px;
   }

   &-title {
      @include font ($primary-font, $fs-small, $fw-first);
      color: $tcl-first;
   }
}

.filter > * {
   @include flexStyle (none, none, column);
   gap: 10px;
}

button {
   width: 150px;
   padding: 0;
   @include flexStyle (space-between, none, row);
   border: none;
   background-color: $tcl-button;
   @include font-decription();
}

button :hover {
   background-color: $bgcl-inactiveStatus;
}