@use "../abtracts/" as *;

.menu {

   @include flexStyle(space-between, center, row);


   & > * {
      @include flexStyle(space-around, center, row);

   }

   &-left > * {
         @include flexStyle(space-between, center, row);
         gap: 5%;

   }

   &-left {
      gap: 10%;
      width: 40%;
      &-filter {
         padding: 2%;
         border-radius: 10px;
         background-color: $bgcl-item-profile;
         border-color: $bd-color;
         border-style: solid;
      }

      &-search {
         width: 100%;
         padding: 2%;
         border-radius: 10px;
         background-color: $bgcl-main;
         input {
            width: 100%;
            background-color: $bgcl-main;
            border: none;
            outline: none;
         }
      }

   }



   &-pay {
      padding: 1%;
      @include font ($primary-font, $fs-big, $fw-button);
      border-radius: 10px;
      border: none;
      color: $bgcl-item-profile;
      background-color: $bgcl-buttonPay;
   }
}