@use "../base/" as *;

.register-container {
  @include size(100%, 90%);
  @include flexStyle(space-between, center, column);
  gap: 10px;
  @include padding(10px);

  h2 {
    @include font-heading();
  }

  form {
    @include flexStyle(space-between, center, column);
    gap: 10px;

    input {
      @include padding(10px);
      border: none;
      @include border-radius(10px);
      @include size(20em, 1.5em);
      outline: none;

      &:hover {
        border: solid 1px;
      }
    }

    button {
      @include size(10em, 3em);
      @include border-radius(10px);
      @include bg-color(transparent);
    }
  }

  p {
    @include font-status();
  }
}
