<div class="filter-active">
   <div class="sort">
     <p class="sort-title">SORT BY:</p>
     <ul class="sort-options">
       <li>
         <button class="sort-option-default">
           <p>Default</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
       <li>
         <button class="sort-option-first">
           <p>First Name</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
       <li>
         <button class="sort-option-last">
           <p>Last Name</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
       <li>
         <button class="sort-option-due">
           <p>Due Date</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
       <li>
         <button class="sort-option-last">
           <p>Last Login</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
     </ul>
   </div>

   <div class="users">
     <p class="users-title">USERS:</p>
     <ul class="users-options">
       <li>
         <button class="users-option-all">
           <p>All</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
       <li>
         <button class="users-option-active">
           <p>Active</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
       <li>
         <button class="users-option-inactive">
           <p>Inactive</p>
           <img class="img-option-empty" src="./assets/icons/optionEmpty.svg" alt="Option optionEmpty">
         </button>
       </li>
     </ul>
   </div>
 </div>