@use "../base" as *;


body {
   padding: 10vh;
   background-color: $bgcl-main;
   @include flexStyle (center, none, row);
}
#root {
   width: 75%;
   height: 100vh;

   .container {
      width: 100%;
      .main {
         @include flexStyle (none, none, column);
         gap: 1em;
      }
   }
}