@use "../base" as *;


body {
   padding: 10vh;
   background-color: $bgcl-main;
   @include flexStyle (center, none, row);
}
#root {
   width: 75%;
   height: 100vh;

   .container {
      width: 100%;
      @include flexStyle (none, none, column);
      gap: 1em;

      main {
         width: 100%;
         padding: 20px 20px;
         background-color: $bgcl-item-profile;
         border-radius: 10px;
         box-shadow: 2px 2px 5px 0px $bs-menu;

      }
   }
}